{% load static %}
{% block dash-navbar %}
<div class="header-row">
  <div class="header-column justify-content-start">
    <div class="logo me-3"> <a class="d-flex" href="{% url 'mainpage' %}" title="Payly"><img src="{% static 'img/logo.png'%}" width="120" height="50" alt="Payly" /></a> </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header-nav"> <span></span> <span></span> <span></span> </button>
    <nav class="primary-menu navbar navbar-expand-lg">
      <div id="header-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="active"><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li><a href="{% url 'transaction' %}">Transactions</a></li>
          <li><a href="{% url 'dash_send' %}">Send/Request</a></li>
          <li><a href="help.html">Help</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="header-column justify-content-end">
    <nav class="login-signup navbar navbar-expand">
      <ul class="navbar-nav">
        <li class="dropdown notifications"> <a class="dropdown-toggle" href="#"><span class="text-5"><i class="far fa-bell"></i></span><span class="count">3</span></a>
          <ul class="dropdown-menu">
            <li class="text-center text-3 py-2">Notifications (3)</li>
            <li class="dropdown-divider mx-n3"></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-bell"></i>A new digital FIRC document is available for you to download<span class="text-1 text-muted d-block">22 Jul 2021</span></a></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-bell"></i>Updates to our privacy policy. Please read.<span class="text-1 text-muted d-block">04 March 2021</span></a></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-bell"></i>Update about Payly fees<span class="text-1 text-muted d-block">18 Feb 2021</span></a></li>
            <li class="dropdown-divider mx-n3"></li>
            <li><a class="dropdown-item text-center text-primary px-0" href="notifications.html">See all Notifications</a></li>
          </ul>
        </li>
        <li class="dropdown profile ms-2"> <a class="px-0 dropdown-toggle" href="#"><img class="rounded-circle" src="{% static 'img/payapp/profile.jpg'%}" alt=""></a>
          <ul class="dropdown-menu">
            <li class="text-center text-3 py-2">Hi, {{ user.first_name }} {{ user.last_name }}</li>
            <li class="dropdown-divider mx-n3"></li>
            <li><a class="dropdown-item" href="settings-profile.html"><i class="fas fa-user"></i>My Profile</a></li>
            <li><a class="dropdown-item" href="settings-Security.html"><i class="fas fa-shield-alt"></i>Security</a></li>
            <li><a class="dropdown-item" href="settings-payment-methods.html"><i class="fas fa-credit-card"></i>Payment Methods</a></li>
            <li><a class="dropdown-item" href="settings-notifications.html"><i class="fas fa-bell"></i>Notifications</a></li>
            <li class="dropdown-divider mx-n3"></li>
            <li><a class="dropdown-item" href="help.html"><i class="fas fa-life-ring"></i>Need Help?</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
