{% load static %}
{% block navbar %}
<div class="header-row">
    <div class="header-column justify-content-start">
        <div class="logo me-3"> <a class="d-flex" href="{% url 'mainpage' %}" title="Payly"><img src="{% static 'img/logo.png'%}" width="120" height="50"  alt="Payly" /></a> </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header-nav"> <span></span> <span></span> <span></span> </button>
        <nav class="primary-menu navbar navbar-expand-lg">
            <div id="header-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li><a href="landing-page-send.html">Send</a></li>
                    <li><a href="landing-page-receive.html">Receive</a></li>
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="fees.html">Fees</a></li>
                    <li><a href="help.html">Help</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="header-column justify-content-end">
        <nav class="login-signup navbar navbar-expand">
            <ul class="navbar-nav">
                <li><a href="{% url 'login' %}">Login</a> </li>
                <li class="align-items-center h-auto ms-sm-3"><a class="btn btn-primary" href="{% url 'register' %}">Sign Up</a></li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}