{% load static %}
{% load crispy_forms_tags %}

<div>
    <h5 class="text-center">Select Bank Account<button type="button" class="btn-close text-2 float-end" data-bs-dismiss="modal" aria-label="Close"></button></h5>
    <br>
    {% for account in accounts %}
    <div hx-get="{% url 'add-money' %}?id={{account.id}}" hx-trigger="click"
         hx-target="#dialog">
        <div class="account-card account-card-primary text-white rounded">
            <div class="row g-0">
                <div class="col-3 d-flex justify-content-center p-3">
                    <div class="my-auto text-center"> <span class="text-13"><i class="fas fa-university"></i></span>
                    </div>
                </div>
                <div class="col-9 border-start">
                    <div class="py-4 my-2 ps-4">
                        <p class="text-4 fw-500 mb-1">{{account.bank}}</p>
                        <p class="text-4 opacity-9 mb-1">{{account.account_no}}</p>
                    </div>
                    <a class="account-card-overlay rounded" href="#"></a>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
</div>