{% extends 'payapp/base.html' %}
{% load static %}
{% block title %}Help | Payly{% endblock %}

{% block content %}
<section class="hero-wrap section">
    <div class="hero-mask opacity-9 bg-primary"></div>
    <div class="hero-bg main-background-3"></div>
    <div class="hero-content">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-12">
                    <h1 class="text-11 text-white mb-4">How can we help you?</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
                    <div class="input-group">
                        <input class="form-control shadow-none border-0" type="search" id="search-input" placeholder="Search for answer..." value="">
                        <span class="input-group-text bg-white border-0 p-0">
                <button class="btn text-muted shadow-none px-3 border-0" type="button"><i class="fa fa-search"></i></button>
                </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="content">

    <section class="section py-3 my-3 py-sm-5 my-sm-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-sm-6 col-lg-3">
                    <div class="bg-white shadow-sm rounded p-4 text-center"> <span class="d-block text-17 text-primary mt-2 mb-3"><i class="fas fa-user-circle"></i></span>
                        <h3 class="text-body text-4">My Account</h3>
                        <p class="mb-0"><a class="text-muted btn-link" href="">See articles<span class="text-1 ms-1"><i class="fas fa-chevron-right"></i></span></a></p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="bg-white shadow-sm rounded p-4 text-center"> <span class="d-block text-17 text-primary mt-2 mb-3"><i class="fas fa-money-check-alt"></i></span>
                        <h3 class="text-body text-4">Payment</h3>
                        <p class="mb-0"><a class="text-muted btn-link" href="">See articles<span class="text-1 ms-1"><i class="fas fa-chevron-right"></i></span></a></p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="bg-white shadow-sm rounded p-4 text-center"> <span class="d-block text-17 text-primary mt-2 mb-3"><i class="fas fa-shield-alt"></i></span>
                        <h3 class="text-body text-4">Security</h3>
                        <p class="mb-0"><a class="text-muted btn-link" href="">See articles<span class="text-1 ms-1"><i class="fas fa-chevron-right"></i></span></a></p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="bg-white shadow-sm rounded p-4 text-center"> <span class="d-block text-17 text-primary mt-2 mb-3"><i class="fas fa-credit-card"></i></span>
                        <h3 class="text-body text-4">Payment Methods</h3>
                        <p class="mb-0"><a class="text-muted btn-link" href="">See articles<span class="text-1 ms-1"><i class="fas fa-chevron-right"></i></span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section bg-white">
        <div class="container">
            <h2 class="text-9 text-center">Popular Topics</h2>
            <p class="text-4 text-center mb-5">Lisque persius interesset his et, in quot quidam persequeris.</p>
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="row gx-5">
                        <div class="col-md-6">
                            <div class="accordion accordion-flush" id="popularTopics">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading1">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">I forgot the password for my account.</button>
                                    </h2>
                                    <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#popularTopics">
                                        <div class="accordion-body"> Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure. Mutat tacimates id sit. Ridens mediocritatem ius an, eu nec magna imperdiet. </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading2">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">How do I withdraw funds from my account?</button>
                                    </h2>
                                    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#popularTopics">
                                        <div class="accordion-body"> Iisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure. Mutat tacimates id sit. Ridens mediocritatem ius an, eu nec magna imperdiet. </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading3">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">How do I link bank account to my account?</button>
                                    </h2>
                                    <div id="collapse3" class="collapse" aria-labelledby="heading3" data-bs-parent="#popularTopics">
                                        <div class="accordion-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading4">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">How do I confirm the email address on my account?</button>
                                    </h2>
                                    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-bs-parent="#popularTopics">
                                        <div class="accordion-body"> Iisque Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading5">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">How do I receive payments? </button>
                                    </h2>
                                    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-bs-parent="#popularTopics">
                                        <div class="accordion-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="accordion accordion-flush" id="popularTopics2">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading6">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">How Can I View My Payments History?</button>
                                    </h2>
                                    <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#popularTopics2">
                                        <div class="accordion-body"> Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure. Mutat tacimates id sit. Ridens mediocritatem ius an, eu nec magna imperdiet. </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading7">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">Where is my refund?</button>
                                    </h2>
                                    <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#popularTopics2">
                                        <div class="accordion-body"> Iisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure. Mutat tacimates id sit. Ridens mediocritatem ius an, eu nec magna imperdiet. </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading8">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">How do I request payments or send an invoice?</button>
                                    </h2>
                                    <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#popularTopics2">
                                        <div class="accordion-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading9">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">Forgot my password! What next?</button>
                                    </h2>
                                    <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9" data-bs-parent="#popularTopics2">
                                        <div class="accordion-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading10">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">Closing Your Account</button>
                                    </h2>
                                    <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10" data-bs-parent="#popularTopics2">
                                        <div class="accordion-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-5"><a href="#" class="btn-link text-4">See more topics<i class="fas fa-chevron-right text-2 ms-2"></i></a></div>
        </div>
    </section>

    <section class="section py-4 my-4 py-sm-5 my-sm-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-6">
                    <div class="bg-white shadow-sm rounded ps-4 ps-sm-0 pe-4 py-4">
                        <div class="row g-0">
                            <div class="col-12 col-sm-auto text-13 text-light d-flex align-items-center justify-content-center"> <span class="px-4 ms-3 me-2 mb-4 mb-sm-0"><i class="far fa-envelope"></i></span> </div>
                            <div class="col text-center text-sm-start">
                                <div class="">
                                    <h5 class="text-3 text-body">Can't find what you're looking for?</h5>
                                    <p class="text-muted mb-0">We want to answer all of your queries. Get in touch and we'll get back to you as soon as we can. <a class="btn-link" href="">Contact us<span class="text-1 ms-1"><i class="fas fa-chevron-right"></i></span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="bg-white shadow-sm rounded ps-4 ps-sm-0 pe-4 py-4">
                        <div class="row g-0">
                            <div class="col-12 col-sm-auto text-13 text-light d-flex align-items-center justify-content-center"> <span class="px-4 ms-3 me-2 mb-4 mb-sm-0"><i class="far fa-comment-alt"></i></span> </div>
                            <div class="col text-center text-sm-start">
                                <div class="">
                                    <h5 class="text-3 text-body">Technical questions</h5>
                                    <p class="text-muted mb-0">Have some technical questions? Hit us up on live chat or whatever. <a class="btn-link" href="">Click here<span class="text-1 ms-1"><i class="fas fa-chevron-right"></i></span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}