{% extends 'payapp/base.html' %}
{% load static %}
{% block title %}Send Money | Payly{% endblock %}

{% block content %}
<div class="bg-primary">
    <div class="container d-flex justify-content-center">
        <ul class="nav nav-pills alternate nav-lg border-bottom-0">
            <li class="nav-item"> <a class="nav-link active" href="{% url 'send_money' %}">Send</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'request_money' %}">Request</a></li>
        </ul>
    </div>
</div>

<div id="content" class="py-4">
    <div class="container">
        <div class="row mt-4 mb-5">
            <div class="col-lg-11 mx-auto">
                <div class="row widget-steps">
                    <div class="col-4 step active">
                        <div class="step-name">Details</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="step-dot"></a> </div>
                    <div class="col-4 step disabled">
                        <div class="step-name">Confirm</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="step-dot"></a> </div>
                    <div class="col-4 step disabled">
                        <div class="step-name">Success</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="step-dot"></a> </div>
                </div>
            </div>
        </div>
        <h2 class="fw-400 text-center mt-3">Send Money</h2>
        <p class="lead text-center mb-4">Send your money on anytime, anywhere in the world.</p>
        <div class="row">
            <div class="col-md-9 col-lg-7 col-xl-6 mx-auto">
                <div class="bg-white shadow-sm rounded p-3 pt-sm-4 pb-sm-5 px-sm-5 mb-4">
                    <h3 class="text-5 fw-400 mb-3 mb-sm-4">Personal Details</h3>
                    <hr class="mx-n3 mx-sm-n5 mb-4">
                    <form id="form-send-money" method="post">
                        <div class="mb-3">
                            <label for="emailID" class="form-label">Recipient</label>
                            <input type="text" value="" class="form-control" data-bv-field="emailid" id="emailID" required placeholder="Enter Email Address">
                        </div>
                        <div class="mb-3">
                            <label for="youSend" class="form-label">You Send</label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input type="text" class="form-control" data-bv-field="youSend" id="youSend" value="1,000" placeholder="">
                                <span class="input-group-text p-0">
                                    <select id="youSendCurrency" data-style="form-select bg-transparent border-0" data-container="body" data-live-search="true" class="selectpicker form-control bg-transparent" required="">
                                        <optgroup label="Popular Currency">
                                          <option data-icon="currency-flag currency-flag-usd me-1" data-subtext="United States dollar" selected="selected" value="">USD</option>
                                          <option data-icon="currency-flag currency-flag-gbp me-1" data-subtext="British Pound" value="">GBP</option>
                                          <option data-icon="currency-flag currency-flag-eur me-1" data-subtext="Euro" value="">INR</option>
                                        </optgroup>
                                        <option value="" data-divider="true">divider</option>
                                          <optgroup label="Other Currency">
                                          <option data-icon="currency-flag currency-flag-npr me-1" data-subtext="Nepalese Rupee" value="">NPR</option>
                                        </optgroup>
                                    </select>
                                </span>

                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="recipientGets" class="form-label">Recipient Gets</label>
                            <div class="input-group">
                                <span class="input-group-text">$</span>
                                <input type="text" class="form-control" data-bv-field="recipientGets" id="recipientGets" value="1,410.06" placeholder="">
                                <span class="input-group-text p-0">
                                    <select id="recipientCurrency" data-style="form-select bg-transparent border-0" data-container="body" data-live-search="true" class="selectpicker form-control bg-transparent" required="">
                                        <optgroup label="Popular Currency">
                                          <option data-icon="currency-flag currency-flag-gbp me-1" data-subtext="British Pound" selected="selected" value="">GBP</option>
                                          <option data-icon="currency-flag currency-flag-usd me-1" data-subtext="United States Dollar" value="">USD</option>
                                          <option data-icon="currency-flag currency-flag-eur me-1" data-subtext="Euro" value="">EUR</option>
                                        </optgroup>
                                        <option value="" data-divider="true">divider</option>
                                          <optgroup label="Other Currency">
                                          <option data-icon="currency-flag currency-flag-npr me-1" data-subtext="Nepalese Rupee" value="">NPR</option>
                                        </optgroup>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <p class="text-muted text-center">The current exchange rate is <span class="fw-500">1 USD = 1.42030 AUD</span></p>
                        <hr>
                        <p>Total Fees<span class="float-end">7.21 USD</span></p>
                        <hr>
                        <p class="text-4 fw-500">Total To Pay<span class="float-end">1,000.00 USD</span></p>
                        <div class="d-grid"><button class="btn btn-primary">Continue</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}