{% extends 'main/layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Profile - Payly{% endblock %}

{% block content %}
<div id="content" class="py-4">
    <div class="container">
        <div class="row">
            {% include 'main/layout/sidebar.html' %}
            <div class="col-lg-9">
                <div class="bg-white shadow-sm rounded p-4 mb-4">
                    <h3 class="text-5 fw-400 d-flex align-items-center mb-4">Personal Details
                        <a href="#"  hx-get="{% url 'edit-profile' %}" hx-target="#dialog" hx-trigger="click"  class="ms-auto text-2 text-uppercase btn-link"><span class="me-1"><i class="fas fa-edit"></i></span>Edit</a>
                    </h3>
                    <hr class="mx-n4 mb-4">
                    <div class="row gx-3 align-items-center">
                        <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Name:</p>
                        <p class="col-sm-9 text-3">{{ user.first_name }} {{ user.last_name }}</p>
                    </div>
                    <div class="row gx-3 align-items-center">
                        <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Username:</p>
                        <p class="col-sm-9 text-3">{{ user.username }}</p>
                    </div>
                    <div class="row gx-3 align-items-center">
                        <p class="col-sm-3 text-muted text-sm-end mb-0 mb-sm-3">Email:</p>
                        <p class="col-sm-9 text-3">{{ user.email }}</p>
                    </div>
                </div>
                <div class="bg-white shadow-sm rounded p-4 mb-4">
                    <h3 class="text-5 fw-400 d-flex align-items-center mb-4">Password
                        <a href="#" hx-get="{% url 'change-password' %}" hx-target="#dialog" hx-trigger="click" class="ms-auto text-2 text-uppercase btn-link"><span class="me-1"><i class="fas fa-edit"></i></span>Change</a></h3>
                    <hr class="mx-n4 mb-4">
                    <p class="text-3">Change your password. - <span class="text-muted">Last Logged In: {{ user.last_login }}</span></p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}