{% load static %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col justify-content-center bg-primary rounded-start py-4">
        <div class="my-auto text-center">
            {% with user_profile=t.sender.userprofile %}
            <div class="text-17 text-white my-3"><img src="{{ user_profile.profile_picture.url }}" class="avatar avatar-lg"/></div>
            {% endwith %}
            <i class="fa-solid fas fa-chevron-down mx-5"></i>
            {% with user_profile=t.receiver.userprofile %}
            <div class="text-17 text-white my-3"><img src="{{ user_profile.profile_picture.url }}" class="avatar avatar-lg"/></div>
            {% endwith %}
            <h3 class="text-4 text-white fw-400 my-3">{{t.sender.first_name}} sent </h3>
            <div class="text-6 fw-500 text-white my-4">{{t.amount}} {{t.currency}}</div>
            <h3 class="text-4 text-white fw-400 my-3"> to {{t.receiver.first_name}} </h3>
        </div>
    </div>
    <div class="col-sm-7">
        <h5 class="text-5 fw-400 m-3">Transaction Details
            <button type="button" class="btn-close text-2 float-end" data-bs-dismiss="modal" aria-label="Close"></button>
        </h5>
        <div class="px-3">
            <hr class="mb-4 mt-2">
            <p class="d-flex align-items-center fw-500 mb-0"> Transfer Amount <span class="text-3 ms-auto">{{t.amount}} {{t.currency}}</span></p>
            <hr class="mb-4 mt-2">
            <ul class="list-unstyled">
                <li class="fw-500">Transfered By:</li>
                <li class="text-muted">{{t.sender.first_name}}</li>
            </ul>
            <ul class="list-unstyled">
                <li class="fw-500">Received By:</li>
                <li class="text-muted">{{t.receiver.first_name}}</li>
            </ul>
            <ul class="list-unstyled">
                <li class="fw-500">Transaction ID:</li>
                <li class="text-muted">{{t.tid}}</li>
            </ul>

            {% if t.type == 'DEBIT' %}
            <ul class="list-unstyled">
                <li class="fw-500">Description:</li>
                <li class="text-muted"> Money Transfer to {{t.receiver.first_name}} from {{t.sender.first_name}}</li>
            </ul>

            <ul class="list-unstyled">
                <li class="fw-500">Status:</li>
                <li class="text-muted"><span class="text-danger">{{t.type}}<i class="fas fa-caret-down"></i></span></li>
            </ul>

            <ul class="list-unstyled">
                <li class="fw-500">Date:</li>
                <li class="text-muted">{{t.datetime}}</li>
            </ul>
            {% else %}
            <ul class="list-unstyled">
                <li class="fw-500">Description:</li>
                <li class="text-muted"> Requested Money Transfer to {{t.receiver.first_name}} from {{t.sender.first_name}}</li>
            </ul>

            <ul class="list-unstyled">
                <li class="fw-500">Status:</li>
                <li class="text-muted"><span class="text-success">{{t.type}}<i class="fas fa-caret-up"></i></span></li>
            </ul>

            <ul class="list-unstyled">
                <li class="fw-500">Date:</li>
                <li class="text-muted">{{t.datetime}}</li>
            </ul>
            {% endif %}

        </div>
    </div>
</div>