<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="{% static 'img/favicon.png' %}" rel="icon" />
    <title>{% block title %}Register | Payly{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">

    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css/all.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>

<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>

<div id="main-wrapper">
    <div class="container-fluid px-0">
        <div class="row g-0 min-vh-100">
            <div class="col-md-6">
                <div class="hero-wrap d-flex align-items-center h-100">
                    <div class="hero-mask opacity-8 bg-primary"></div>
                    <div class="hero-bg hero-bg-scroll register-background"></div>
                    <div class="hero-content mx-auto w-100 h-100 d-flex flex-column">
                        <div class="row g-0">
                            <div class="col-10 col-lg-9 mx-auto">
                                <div class="logo mt-5 mb-5 mb-md-0"> <a class="d-flex"  href="#" title="Payly"><img src="{% static 'img/logo.png'%}" width="120" height="50" alt="Payly"></a> </div>
                            </div>
                        </div>
                        <div class="row g-0 my-auto">
                            <div class="col-10 col-lg-9 mx-auto">
                                <h1 class="text-11 text-black mb-4">Start Your Journey!</h1>
                                <p class="text-4 text-black lh-base mb-5">Every day, Payly makes thousands of customers happy.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div class="container my-4">
                    <div class="row g-0">
                        <div class="col-11 col-lg-9 col-xl-8 mx-auto">
                            <h3 class="fw-400 mb-4">Sign Up - It's Free</h3>
                            <form id="loginForm" method="post">
                                {% csrf_token %}
                                <div class="mb-3">
                                    {{ form.firstname|as_crispy_field }}
                                </div>
                                <div class="mb-3">
                                    {{ form.lastname|as_crispy_field }}
                                </div>
                                <div class="mb-3">
                                    {{ form.email|as_crispy_field }}
                                </div>
                                <div class="mb-3">
                                {{ form.username|as_crispy_field }}
                                </div>
                                <div class="mb-3">
                                    {{ form.password|as_crispy_field }}
                                </div>
                                <div class="mb-3">
                                    {{ form.confirm_password|as_crispy_field }}
                                </div>
                                <div class="mb-3">
                                    {{ form.currency|as_crispy_field }}
                                </div>
                                <div class="mb-3">
                                    {{ form.terms|as_crispy_field }}
                                </div>
                                <div class="d-grid mt-4 mb-3"><button class="btn btn-primary" type="submit">Sign Up</button></div>

                            </form>
                            {% if messages %}

                            {% for message in messages %}

                            <div class="alert alert-danger w-100 mt-2">{{message}}</div>

                            {% endfor %}

                            {% endif %}
                            <p class="text-3 text-center text-muted">Already have an account? <a class="btn-link" href="{% url 'login' %}">Log In</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a id="back-to-top" data-bs-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>


<script src="{% static 'vendor/js/jquery.min.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/js/switcher.min.js' %}"></script>
<script src="{% static 'vendor/js/theme.js' %}"></script>
</body>
</html>