{% load static %}
{% load crispy_forms_tags %}
<form hx-post="{% url 'request-money-details' %}" hx-target='#dialog'>
    <div class="text-center">
        <div >
            <img src="{{sender.profile.profile_pic.url}}" class="avatar avatar-lg" />
            <i class="fa-solid fa-arrows-left-right mx-4"></i>
            <img src="{{receiver.profile.profile_pic.url}}" class="avatar avatar-lg" />
        </div>
        <h3 class="h5 mt-4">You are requesting {{amount}} {{currency}} from {{receiver.first_name}} {{receiver.last_name}}</h3>
        <p class="text-muted text-truncate m-0"><i class="fa-solid fa-wallet mr-2"></i>Wallet balance: {{sender.wallet.balance}}
        </p>
        <p class="text-muted text-truncate m-0"><i class="fa-solid fa-dollar mr-1"></i>Currency: {{sender.wallet.currency}}</p>
    </div>
    {% csrf_token %}
    <div class="form" >
        <input type="hidden" name="confirm" required id="receiver" value="true" />
        <input type="hidden" name="receiver" required id="receiver" value="{{receiver.id}}" />
        <input type="hidden" name="sender" required id="sender" value="{{sender.id}}" />
        <input type="hidden" name="amount" required id="amount" value="{{amount}}" />
        <input type="hidden" name="currency" required id="currency" value="{{currency}}" />
        
    </div>
    <button class="btn btn-primary w-100 mt-4" type="submit">
        Confirm
    </button>
    <button class="btn btn-outline-warning w-100 mt-2" id="cancel_send_btn" data-dismiss="modal">
        Cancel
    </button>
</form>