{% load static %}
{% load crispy_forms_tags %}
<form hx-post="{% url 'request-money-details' %}" hx-target='#dialog' >
    <div class="text-center">
        <button type="button" class="btn-close text-2 float-end" data-bs-dismiss="modal" aria-label="Close"></button>

        {% with user_profile=receiver.userprofile %}
        <img src="{{user_profile.profile_picture.url}}" class="avatar avatar-lg" />
        {% endwith %}
        <h3 class="h5">You are requesting money from {{receiver.first_name}} {{receiver.last_name}}</h3>
        <p class="text-muted text-truncate m-0"><i class="fa-solid fas fa-envelope mr-2"></i> {{receiver.email}}
        </p>
        <p class="text-muted text-truncate m-0"><i class="fa-solid fas fa-at mr-1"></i> {{receiver.username}}</p>
    </div>
    {% csrf_token %}
    <div class="form" >

        <input type="hidden" name="receiver" required id="receiver" value="{{receiver.id}}" />
        <input type="hidden" name="sender" required id="sender" value="{{sender.id}}" />
        <div class="form-group">
            {{ form.amount|as_crispy_field}}
        </div>
        <div class="form-group">
            {{ form.currency|as_crispy_field }}
        </div>


    </div>
    <button class="btn btn-primary w-100" type="submit">
       Request {{receiver.first_name}}
    </button>
</form>