<table class="table" id="transaction-table">
    <thead>
        <tr>
            <th scope="col">Sender</th>
            <th scope="col">Receiver</th>
            <th scope="col">Status</th>
            <th scope="col">Amount</th>
            <th scope="col">Currency</th>
            <th scope="col">Time</th>
        </tr>
    </thead>
    <tbody>
        {% for t in transfer_requests %}
        <tr class="{% if t.status == 'PENDING' %}table-light{% endif %}">
            <td>{{t.sender.first_name}}</td>
            <td>{{t.receiver.first_name}}</td>
            <td class="{% if t.status == 'PENDING' %}text-warning{% elif t.status == 'DENIED' %}text-danger {% else %}text-success{% endif %}">
                {{t.status}}
            </td>
            <td>{{t.datetime}}</td>
            <td>{{t.amount}}</td>
            <td>{{t.currency}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>