{% load static %}
{% load crispy_forms_tags %}
<form>
    {% csrf_token %}
    <div class="text-center">
        <img src="{% static 'img/withdraw.png' %}" class="avatar avatar-lg" />
        <h3 class="h5 mt-4">Withdraw Confirmation</h3>
        <p class="text-muted">Are you sure you want to withdraw this Money request?
        </p>
    </div>
    <input type="hidden" name="rid" value="{{rid}}">
    <button class="btn btn-outline-danger w-100 mt-2" 
    hx-get="{% url 'withdraw-request' %}"
    hx-include="[name='rid']"
    hx-trigger="click"
    hx-target="#dialog">
        <i class="fa-solid fa-trash mr-2 fa-sm"></i>Withdraw now
    </button>
    <button class="btn btn-outline-warning w-100 mt-2" data-bs-dismiss="modal">
        <i class="fa-solid fas fa-close mr-2 fa-sm"></i>Cancel
    </button>
</form>