<div class="transaction-title py-2 px-4">
    <div class="row fw-00">
        <div class="col "><span class="">Date</span></div>
        <div class="col">Description</div>
        <div class="col">Status</div>
        <div class="col">Amount</div>
        <div class="col">Balance</div>
    </div>
</div>
{% for t in transactions %}
<div>
    <div class="transaction-list">
        {% if t.type == 'DEBIT' %}
        <div class="transaction-item px-4 py-3">
            <div class="row align-items-center flex-row">
                <div class="col "> <span class="d-block text-4 fw-300">{{t.datetime|date:"d"}}</span> <span class="d-block text-1 fw-300 text-uppercase">{{t.datetime}}</span> </div>
                <div class="col "> <span class="d-block text-4">{{t.sender.first_name}}</span> <span class="text-muted">send to {{t.receiver.first_name}}</span> </div>
                <div class="col "> <span class="text-warning"><i class="fas fa-caret-down text-danger">{{t.type}}</i></span> </div>
                <div class="col "> <span class="d-sm-block text-3">{{t.amount}}</span> <span class="text-2 text-uppercase">{{t.currency}}</span> </div>
                <div class="col "> <span class="d-sm-block text-3">{{t.balance}} {{request.user.wallet.currency}} </span> <span class="text-muted"></span> </div>

            </div>
        </div>
        {% else %}
        <div class="transaction-item px-4 py-3">
            <div class="row align-items-center flex-row">
                <div class="col "> <span class="d-block text-4 fw-300">{{t.datetime|date:"d"}}</span> <span class="d-block text-1 fw-300 text-uppercase">{{t.datetime|date:"M, Y"}}<br>{{t.datetime|time:"H:i:s"}}</span> </div>
                <div class="col "> <span class="d-block text-4">{{t.receiver.first_name}}</span> <span class="text-muted">received from {{t.sender.first_name}}</span> </div>
                <div class="col "> <span class="text-warning"><i class="fas fa-caret-up text-success">{{t.type}}</i></span> </div>
                <div class="col "> <span class="d-sm-block text-3">{{t.amount}}</span> <span class="text-2 text-uppercase">{{t.currency}}</span> </div>
                <div class="col "> <span class="d-sm-block text-3">{{t.balance}} {{request.user.wallet.currency}} </span> <span class="text-muted"></span> </div>
            </div>
        </div>
    {% endif %}
    </div>
</div>
{% endfor %}