{% if users %}
<div id="transaction-list">
    {% for user in users %}
    {% with user_profile=user.userprofile %}
    <div class="transaction-list">
        <div class="transaction-item px-4 py-3">
            <div class="row align-items-center flex-row">
                {% if user.is_superuser %}
                <div class="col text-center"> <span class="d-block text-4 fw-300"><img src="{{ user_profile.profile_picture.url }}" class="avatar avatar-lg mb-2" /></span> <span class="text-muted">@{{user.username}}</span> </div>
                <div class="col text-center"> <span class="d-block text-4">{{user.first_name}} {{user.last_name}}</span> <span class="text-muted">Admin</span></div>
                <div class="col text-center"> <span class="d-sm-block text-3">{{user.email}}</span></div>
                <div class="col text-center"> <span class="d-sm-block text-3">{{user.wallet.balance}} </span> <span class="text-muted">{{request.user.wallet.currency}}</span> </div>
                    
                {% else %}
                    
                <div class="col text-center"> <span class="d-block text-4 fw-300"><img src="{{ user_profile.profile_picture.url }}" class="avatar avatar-lg mb-2" /></span> <span class="text-muted">@{{user.username}}</span> </div>
                <div class="col text-center"> <span class="d-block text-4">{{user.first_name}} {{user.last_name}}</span> <span class="text-muted">User</span></div>
                <div class="col text-center"> <span class="d-sm-block text-3">{{user.email}}</span></div>
                <div class="col text-center"> <span class="d-sm-block text-3">{{user.wallet.balance}} </span> <span class="text-muted">{{request.user.wallet.currency}}</span> </div>
                {% endif %}

            </div>
        </div>
    </div>
    {% endwith %}
    {% endfor %}
</div>
{% endif %}