{% load static %}

<div class="card h-100">
    <div class="card-header text-center">
        <img src="{{user.profile.profile_pic.url}}" class="avatar avatar-lg mb-2" /><br>
        <h3 class="h4 text-truncate m-0">{{user.first_name}} {{user.last_name}}</h3>
        {% if user.is_superuser %}
        <strong class="text-muted">Admin</strong>
        {% else %}
        <strong class="text-muted">User</strong>
        {% endif%}
    </div>
    <div class="card-body m-0 text-center">

        <p class="text-muted text-truncate m-0"><i class="fa-solid fa-envelope mr-2"></i>{{user.email}}</p>
        <small class="text-muted">@{{user.username}}</small><br>

    </div>

    <div class="card-footer mt-auto text-center">
        <small class="font-weight-bold"><i class="fa-solid fa-wallet mr-1"></i>{{user.wallet.balance}} {{user.wallet.currency}}</small>
        <button class="btn btn-outline-primary w-100 my-2"
                hx-get="{% url 'edit-profile' %}" hx-target="#dialog" hx-trigger="click">
            <i class="fa-regular fa-pencil mr-2"></i>
            Edit
        </button>
        <button class="btn btn-outline-primary w-100 my-2">
            <i class="fa-regular fa-trash mr-2"></i>
            Delete
        </button>
    </div>

</div>
