{% if receiver != request.user %}
{% with user_profile=receiver.userprofile %}
<img src="{{ user_profile.profile_picture.url }}" class="avatar avatar-lg"/>
{% endwith %}
<h3 class="h4 text-truncate m-0">{{receiver.first_name}} {{receiver.last_name}}</h3>
<p class="text-muted text-truncate m-0">{{receiver.email}}</p>
<small class="text-muted">@{{receiver.username}}</small><br>

<button class="btn btn-primary w-100" hx-get="{% url 'detail-type' %}?receiver={{receiver.id}}&type=send" hx-trigger="click" hx-target="#dialog">
    Send Money
</button>
{% else %}
{% with user_profile=receiver.userprofile %}
<img src="{{ user_profile.profile_picture.url }}" class="avatar avatar-lg"/>
{% endwith %}
<h3 class="h4 text-truncate m-0">{{receiver.first_name}} {{receiver.last_name}}</h3>
<p class="text-muted text-truncate m-0">{{receiver.email}}</p>
<small class="text-muted">@{{receiver.username}}</small>
<br>
<br>
<p class="text-muted">Cannot Send Money to Yourself</p>
{% endif %}