{% extends 'payapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div id="content" class="py-4">
    <div class="container">
        <div class="row">
            {% include 'payapp/sidebar.html' %}
            <div class="col-lg-9">
                <div class="bg-white shadow-sm rounded p-4 mb-4">
                    <h3 class="text-5 fw-400 d-flex align-items-center mb-4">Edit Profile</h3>
                    <form action="{% url 'edit_profile' %}" method="post">
                        {% csrf_token %}
                        {{ editform|crispy }}
                        <hr>
                        <div class="row g-3">
                            <div class="col-12 mt-4 d-grid">
                                <button class="btn btn-primary" type="submit">Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}