# Default ignored files
/../../../:webapps2024/.idea/shelf/
/../../../:webapps2024/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:webapps2024/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:webapps2024/.idea/dataSources/
/../../../:webapps2024/.idea/dataSources.local.xml
